# MongoDB Connection (Local or Atlas)
MONGODB_URI=mongodb://127.0.0.1:27017/umkm_pos

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=umkm-pos-secret-secure-key-jwt-super-safe-2026

# OpenRouter AI Assistant (Model Free: google/gemma-4-31b-it:free / deepseek/deepseek-v4-flash-0731:free)
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_MODEL=google/gemma-4-31b-it:free

# Cloudinary (Upload Gambar Produk)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_upload_preset
